sudo: required
dist: trusty
language: ruby

before_install:
before_install:
- gem install asciidoctor -v 1.5.2
- gem install tilt
- sudo pip install git+https://github.com/gitenberg-dev/gitberg
- sudo pip install pillow
- sudo pip install cssutils
- sudo pip install docutils
- sudo pip install roman
- sudo pip install git+https://github.com/gitenberg-dev/pg-epubmaker
script:
- VERSION=`ruby -e "require 'yaml'; meta = YAML.load_file('metadata.yaml'); puts meta['_version'];"`
- git clone https://github.com/gitenberg-dev/asciidoctor-htmlbook.git
- sudo pip install -r asciidoctor-htmlbook/gitberg-machine/requirements.txt

- /usr/bin/python -c "from gitenberg import travis; travis.build_epub()"
- ebook-convert book.epub book.mobi
- xvfb-run ebook-convert book.epub book.pdf
branches:
  only:
  - master
notifications:
  webhooks:
    urls:
      - https://unglue.it/api/travisci/webhook
    on_success: always
    on_failure: never
    on_start: never
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: kjMPeb+qrzs5gjus5Obek8EgY2eN8iTPmgAmT5i9CAVYFTwPwvMCfgAf80u9EfqxNifJhqJyKpCGdh3w5RBqisvvq8tmPZ2aqvp3PmFyf2sfm9H4h86H058iPY1ZUfjbIAvbyaYcRr3zSQ9k1EfBAjGAHvV8VAVWC9N4Lf3vC3B4C1X6yPeIaUUIBmZHyKlktZ4f/Gu/yOk/Kid+dRmizEXPT2Pby3JZf9Uff400SN1q06EUAz5g6Lzg9a0i7Kl3Es/3tpr8ya2J6JN20yFPyhS+c7U+wNc9C9UwFYks+3O9/d9Nn3983gcBxoHJD+5qzKrwwhUDOXkjKa/cf8auvnNVbs+TaOZkwEiEIbvFV+Xjd+yLOGVuhfrtWnU0OPdaV3ih4lJzobnNVmPQKcgm2jzoaM6JZq2kJPULynUk6wlebV6XqvJHdtGPoTizKfQS0RaRVWalmF3FaCoVft+WtwBM5dodpbomPFnP2V7DIiaXeBItLPAG4vdLK3grraMkkBIp8yre/b1EFbf4qyOAWCdBjryCDke+2eza1KKXD48PJq7O+gieIOY2W6s0sW3nPx+MwTkTHohhylbrXG60R55L9rkDxm48viu7E6MOU9l1RhUJp65syrpJucHfNrj0RR85gRRz3VhcGOCPqv/RzaQPgxW8jf18ZfmZS87OguU=
  file:
    - book.epub
    - book.mobi
    - book.pdf
  "on":
    repo: GITenberg/The-Sketch-Book-of-Geoffrey-Crayon_2048
addons:
  apt:
    packages:
    - xsltproc
    - xvfb
    - calibre
    - python-pip
    - git
    - python-dev
    - libjpeg-dev
    - libpng-dev
    - libfreetype6
    - libfreetype6-dev
    - zlib1g-dev
    - python-lxml
    - libxml2-dev
    - libxslt1-dev
    - tidy